{% extends 'modals/modal.html' %}

{% block modalid %}login-register{% endblock %}

{% block modalcontent %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Login or Register</h4>
        </div>
        <div class="modal-body">
            <form id="login-form" onsubmit="return false;">
                <div class="form-group">
                    <input type="text" id="username" class="form-control" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input type="password" id="password" class="form-control" placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-info" onclick="ModalLogin.login()">Login or Register</button>
            </form>
            <div class="social-login">
                <button onclick="window.location.href='/auth/google'" class="btn btn-danger">Login with Google</button>
                <button onclick="window.location.href='/auth/microsoft'" class="btn btn-primary">Login with Microsoft</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block modaljs %}
<script>
    var ModalLogin = this.ModalLogin = {
        login_yes: false,

        login: function() {
            var username = $('#username').val();
            var password = $('#password').val();

            var login_async = function () {
                $.ajax("/api/accounts/login/", {
                    type: "POST",
                    data: { username: username, password: password },
                    statusCode: {
                        200: function (response) {
                            if (typeof response == "object") {
                                ModalLogin.login_yes = true;
                                //var uri = window.location.href.split("#")[0];
                                //window.location.href = uri;
                                alert('Login success!');
                                $('#logout-section').show();
                                $('#logout-section-username').text(username);
                            }
                        },
                        400: function (response) {
                            $('.alert').remove();
                            var responseJSON = response.responseJSON;
                            if (typeof responseJSON == "object") {
                                for (var key in responseJSON) {
                                    $('<div class="alert alert-warning" role="alert"><b>' + key + '</b> ' + responseJSON[key][0] + '</div>').prependTo('.modal-body').fadeIn('slow');
                                }
                            }
                            if (!ModalLogin.login_yes) {
                                register_async();
                            }
                        },
                    }
                });
            };

            var register_async = function () {
                $.ajax("/api/accounts/register/", {
                    type: "POST",
                    data: { username: username, password: password, password_confirm: password },
                    statusCode: {
                        200: function (response) {
                            alert('Registration successful. Logging in...');
                            login_async();
                        },
                        400: function (response) {
                            $('.alert').remove();
                            var responseJSON = response.responseJSON;
                            if (typeof responseJSON == "object") {
                                for (var key in responseJSON) {
                                    if (key != 'password_confirm') {
                                        $('<div class="alert alert-warning" role="alert"><b>' + key + '</b> ' + responseJSON[key][0] + '</div>').prependTo('.modal-body').fadeIn('slow');
                                    }
                                }
                            }
                        },
                    }
                });
            };

            login_async();
            return false;
        }
    };
</script>
{% endblock %}