<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Prospective longevity for all with a little exercise, supplements, news, registration and more.">
    <meta name="author" content="Freeternity promotes longevity for all, completely free.">  

    <title>Freeternity - {% block title %}longevity for all.{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href= "/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/grayscale.css" rel="stylesheet">
    
    <!-- Custom Fonts -->
    <link href="/static/css/font.lora.css" rel="stylesheet" type="text/css">
    <link href="/static/css/font.montserrat.css" rel="stylesheet" type="text/css">
	
    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>
	
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/grayscale.js"></script>

    <script src="/static/js/RecordRTC.js"></script>

    <script>
    $.ajaxSetup({
      data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });

    var Base = this.Base = {
        timez: function() {
            /* https://stackoverflow.com/questions/1091372/getting-the-clients-timezone-in-javascript */
            function timezone() {
                var offset = new Date().getTimezoneOffset();
                var minutes = Math.abs(offset);
                var hours = Math.floor(minutes / 60);
                var prefix = offset < 0 ? "+" : "-";
                return prefix+hours;
            }
            var tz = timezone();
            var no_redirect = false;
            
            if (tz == -7) {
                // california
            }
            
            if ((tz >= -4) && (tz <= -1 ) ) {   
                // east coast
                // use react
                //if (window.location.pathname != "yivwiy.html" && window.location.pathname != "/yivwiy.html" && !(no_redirect)) 
                //	window.location = '/yivwiy.html'; //hebrew
            }
            
            if ((tz >= -8) && (tz <= -5 ) ) {  
                //from alaska to central inclusive
                no_redirect = true;
            } if ((tz <= 2 && tz <= 3)) {
                // europe
                //if (window.location.pathname != "europe.html" && window.location.pathname != "/europe.html" && !(no_redirect)) 
                //	window.location = '/europe.html'; //hebrew
            } else if ((tz < 3 && tz <= 12)) {
                //if (window.location.pathname != "russian.html" && window.location.pathname != "/russian.html" && !(no_redirect)) 
                //	window.location = '/russian.html'; //hebrew
            } else {
		        
            }
        },
        anchor_click: function() {
            if(window.location.hash) {
              var hash = window.location.hash.substring(1); //Puts hash in variable, and removes the # character
              console.log(hash);
              if (hash == 'login') {
                {% if not request.user.is_authenticated %}
                    $('button[data-toggle="#modal-login-register"]').click();
                {% endif %}
              }
              // hash found
            } else {
              // No hash found
            }
        },
        logout: function() {
            $.post( "/api/accounts/logout/",
                    { },
                    function(response) {
                        var uri = window.location.href.split("#")[0];
                        window.location.href = uri;
                    }
            );
        },
        
        handleLogin: function () {
            var username = document.getElementById('username').value;
            var password = document.getElementById('password').value;

            fetch('/api/accounts/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username: username, password: password })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert(data.message);
                    switchToLogoutSection(username);
                } else {
                    alert('Login failed: ' + data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred. Please try again.');
            });
    },

    handleRegistration: function () {
        var username = document.getElementById('username').value;
        var password = document.getElementById('password').value;

        fetch('/api/accounts/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ username: username, password: password })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Registration success!');
                switchToLogoutSection(username);
            } else {
                alert('Registration failed: ' + data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred. Please try again.');
        });
    }, 

    switchToLogoutSection: function (username) {
        const loginSection = document.getElementById('login');
        const logoutSection = document.getElementById('logout');

        if (loginSection) {
            loginSection.style.display = 'none';
        }

        if (logoutSection) {
            logoutSection.style.display = 'block';
            document.querySelector('#logout h2').textContent = username;
            $('#logout-section-username').text(username);
        }
    },

    switchToLoginSection: function () {
        const loginSection = document.getElementById('login');
        const logoutSection = document.getElementById('logout');

        if (loginSection) {
            loginSection.style.display = 'block';
        }

        if (logoutSection) {
            logoutSection.style.display = 'none';
        }
    }
    };

    </script>

	{% block js %}
	
	{% endblock %}
	
	{% block css %}
	
	{% endblock %}

    {% block cssvariable %}
        <style>
            body !important {
                background-color; #fff;
                color: #000;
            }
            .intro {
                background-image: transparent;
                /* background: url(../img/intro-bg.jpg) no-repeat bottom center scroll; */
                background-color: #fff;
                color: #428bca;
            }

            #exTab3 .tab-content {
              color : white;
              background-color: #428bca;
              padding : 5px 15px;
            }

            #exTab3 .nav-pills > li > a {
              border-radius: 4px 4px 0 0 ;
            }

        </style>
    {% endblock %} 
	
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <div class='navbar-behind'></div>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="glyphicon glyphicon-align-justify"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <i class="glyphicon" onclick=''>&#x2764;</i>
                    <span class="light"><b style='color:green'>Fre</b><b><label style='color:green; position: relative;'><label style='position: absolute; top: 0; left: 0; font-size:;'></label>E</label>ternity</b><!--{{chai}}--></span><span class="light"></span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    
                    {% block navbar %}

                        <li>
                            <a class="page-scroll" href="/news">News</a>
                        </li>

                        <li>
                            <a class="page-scroll" href="/apply">Apply</a>
                        </li>

                        {% if user.is_authenticated %}
                            <li>
                                <a href="#" class="page-scroll"><i class="glyphicon glyphicon-user"></i> {{request.user.username}}</a>
                            </li>
                        {% endif %}


                        {% if session.activated %}
                        <li>
                            <a class="page-scroll modal-activate" onclick="return false;" data-toggle="#modal-upload" data-target="#modal-upload" href="#modal-upload"><i class="glyphicon glyphicon-headphones"></i> Activated</a>
                        </li>
                        {% endif %}

                        {% if request.user.is_authenticated and request.user.is_superuser %}
                            <li>
                                <a class="page-scroll" href="http://{{settings.DOMAIN}}:5984/_utils/">Admin</a>
                            </li>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <li>
                                <a class="page-scroll" href="#logout" onclick="Base.logout(); return false;">Logout</a>
                            </li>
                        {% else %}
                            <li>
                                <a class="page-scroll" href="#login">Login</a>
                            </li>
                        {% endif %}

                    {% endblock %}


                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    {% block header %}
    <header class="masthead {% block header_classes %}{% endblock %}">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-7 my-auto">
                    <div class="header-content mx-auto">
                        {% block header_msg %}
                        <h1 class="mb-5">
                            Longevity for all, completely free.  
                        </h1>
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="background: #fff;">
                            Spread love ❤
                        </button>
                        {% endblock %}
                    </div>
                </div>


                <div class="col-lg-5 my-auto">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}

    {% block lower_content %}   
    {% endblock %}

	{% block content %}
	{% endblock %}
    
    {% block precontent %}   
    {% if settings.ALLOW_LOGIN %}
    <!-- Login or register Section -->
    <section id="login" class="container content-section text-center" style="display: {% if user %}none{% else %}block{% endif %};">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Login or Register</h2>
                <p>
                    <button data-toggle='#modal-login' class="btn btn-default modal-activate"><i class="glyphicon glyphicon-user"></i> Login/register</button>
                </p>
            </div>
        </div>
    </section>

    <section id="logout-section" class="container content-section text-center" style="display: {% if user %}block{% else %}none{% endif %};">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 id="logout-section-username">{{ user.username }}</h2>
                <p>
                    <button data-toggle='#modal-logout' class="btn btn-default modal-activate"><i class="glyphicon glyphicon-user"></i> Logout</button>
                </p>
            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p style='font-size:.9em;'>
                <br/><br/>
                This site is not intended to replace professional medical advice, diagnosis, or treatment. 
                Always consult your physician or a qualified healthcare provider before beginning any new treatment 
                or making changes to your existing treatment plan. Do not ignore or delay seeking medical advice 
                based on information from this site. The content on {{settings.NAME}} is not reviewed or approved 
                by the Food and Drug Administration and should not be used to diagnose, treat, cure, or prevent 
                any disease without a doctor's supervision. The views expressed on this site are those of the 
                individual authors and do not necessarily reflect the opinions of the administrators, moderators, 
                or editorial staff. Consequently, {{settings.NAME}} and its affiliates assume no responsibility for 
                the content provided.  Use of this site is subject to our <a href="/waiver">Terms of Service</a>.                   
                <br/>
                <a href="mailto:{{settings.EMAIL}}">{{settings.EMAIL}}</a>
                
                <br/><br/>
                
                <b>Our Sponsors</b>

                <br/>
                
                {% include "sponsors.html" %}


            </p>
        </div>
    </footer>

    {% block premodal %}
        {% include "modals/modal_login.html" %}
        {% include "modals/modal_logout.html" %}
    {% endblock %}

    {% block modal %}
    <!-- modal -->

    {% endblock %}

    {% block jsfooter %}
    
    {% endblock %}

    <script>
        $(document).ready(function () {
            Base.anchor_click();
            $(".modal-activate").click(function(){
                var data_toggle = $(this).attr('data-toggle');
                $(data_toggle).modal();
            });
            //timezones
            Base.timez();
        });

    </script>
    
</body>

</html>
